*{
    box-sizing: border-box;
}
.list__candidates__container{
    display: flex;
    flex-direction: column;
    height:55%;
}

.list__candidates{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    overflow-y:auto ;
    gap: 25px;
}

.list__candidates__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
}

.list__candidates__item p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
}

.modal-show-button{
    width: 100%;
    border: none;
    height: 100%;
    cursor: pointer;
    background-color: rgb(79, 184, 78);
    color: white;
    font-weight: bold;
    font-size: 1em;
}



.list__modal__item{
    height: 100%;
    margin-bottom: 20px;
}

.container {
    max-width: 100%;
    background: #fff;
    margin: 0px auto 0px;
    box-shadow: 1px 1px 2px #DAD7D7;
    border-radius: 3px;
    padding: 20px;
}

.header {
    margin-bottom: 30px;

    .full-name {
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .first-name {
        font-weight: 700;
    }

    .last-name {
        font-weight: 300;
    }

    .contact-info {
        margin-bottom: 20px;
    }

    .email ,
    .phone {
        color: #999;
        font-weight: 300;
    }

    .separator {
        height: 10px;
        display: inline-block;
        border-left: 2px solid #999;
        margin: 0px 10px;
    }

    .position {
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
        text-decoration: underline;
    }
}


.details {
    line-height: 20px;

    .section {
        margin-bottom: 40px;
    }

    .section:last-of-type {
        margin-bottom: 0px;
    }

    .section__title {
        letter-spacing: 2px;
        color: #54AFE4;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .section__list-item {
        margin-bottom: 10px;
    }

    .section__list-item:last-of-type {
        margin-bottom: 0;
    }

    .left ,
    .right {
        vertical-align: top;
        display: inline-block;
    }

    .left {
        width: 60%;
    }

    .right {
        tex-align: right;
        width: 39%;
    }

    .name {
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: #000;
        font-style: italic;
    }

    a:hover {
        text-decoration: underline;
        color: #000;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 25px;
        max-height: 200px;
        overflow-y: auto;
    }


    .skills__item {
        margin-bottom: 10px;
    }

    .skills__item .right {
        input {
            display: none;
        }

        label {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: #C3DEF3;
            border-radius: 20px;
            margin-right: 3px;
        }

        input:checked + label {
            background: #79A9CE;
        }
    }
}

